#line-chart-container {
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  // border: 1px solid gray;

  .line-chart {
    height: 400px;
    width: 700px;
    margin-left: 100px;
  }
}

#pie-chart-container {
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  // border: 1px solid gray;

  .pie-chart {
    height: 400px;
    width: 600px;
    margin-left: -200px;
    margin-top: 20px;
  }
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  margin-top: 30px;
}
